<section class="section mb-3 h-100" id="about">
  <h1 class="section-heading text-center mb-4 mt-2 black-text">About Me</h1>

  <div class="row">
    <div class="col-md-12 pb-2 text-center black-text">
      <p class="lead mb-4"> My name is Rishita Jayant, I'm a Picture Retoucher/Editor.</p>
      <p></p>
      <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged. It was popularised in the 1960s with the release of Letraset sheets containing Lorem Ipsum passages, and more recently with desktop publishing software like Aldus PageMaker including versions of Lorem Ipsum.</p>
    </div>
  </div>
</section>
